.shot-switch-container {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.player-dropdown-container {
    width: 400px;
    display: flex;
    align-items: center;
}

.switch-shooter-container {
    width: 400px;
    display: flex;
    align-items: center;
}

.court-toggle-container {
    display: flex;
    align-items: center;
    width: 1000px;
}

