.team-dropdown {
  align-items: center;
  width: 300px;
  flex-grow: 1;
  background-color: #c6c6c6;
  color: #2c2d2d;
  border-radius: 5px;
}

.clear-shot-button {
    width: 370px;
    height: 40px;
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
  }
  
#team-one-clear-shot-button {
  margin-bottom: 10px;
  background-color: #b079fc;
}
  
#team-two-clear-shot-button {
  margin-bottom: 10px;
  background-color: #4fafa9;
}

.record-shot-button {
  margin-top: 15px;
  width: 370px;
  height: 40px;
  cursor: pointer;
  border: 0px;
  border-radius: 5px;
  background-color: #b079fc;
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

#team-one-record-shot-button {
  background-color: #b079fc;
}

#team-two-record-shot-button {
  background-color: #4fafa9;
}

.free-throw-input {
  margin-left: 10px;
  margin-bottom: 15px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
  width: 253px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #2c2d2d;
}

.free-throw-label {
  margin-left: 45px;
  font-size: 18px;
  padding-bottom: 8px;
  background-color: 1px solid #ffffff;
}

.player-dropdown {
  align-items: center;
  width: 300px;
  margin-bottom: 15px;
  flex-grow: 1;
  background-color: #c6c6c6;
  color: #2c2d2d;
  border-radius: 5px;
}

.defender-dropdown {
  align-items: center;
  width: 277px;
  margin-bottom: 5px;
  flex-grow: 1;
  background-color: #c6c6c6;
  color: #2c2d2d;
  border-radius: 5px;
}

.play-type-dropdown {
  align-items: center;
  width: 275px;
  margin-bottom: 15px;
  flex-grow: 1;
  background-color: #c6c6c6;
  color: #2c2d2d;
  border-radius: 5px;
}

.passing-player-dropdown {
  align-items: center;
  width: 300px;
  margin-bottom: 15px;
  flex-grow: 1;
  background-color: #c6c6c6;
  color: #2c2d2d;
  border-radius: 5px;
}

.passing-play-type-dropdown {
  align-items: center;
  width: 275px;
  margin-bottom: 5px;
  flex-grow: 1;
  background-color: #c6c6c6;
  color: #2c2d2d;
  border-radius: 5px;
}

.shot-checklist {
  margin-bottom: 20px;
  margin-left: 0px;
  font-size: 18px;
  margin-top: 10px;
}

.shooter-header {
  margin-top: 10px;
  margin-left: 105px;
  font-size: 30px;
  padding-bottom: 10px;
  vertical-align: middle;
  display: inline-block;
  font-weight: bold;
}

#team-one-shooter-header {
  color: #b079fc;
}

#team-two-shooter-header {
  color: #4fafa9;
}

.creation-checklist {
  margin-left: 20px;
  padding-bottom: 0px;
  font-size: 18px;
}

.creator-header {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bold;
  font-variant: normal;
  margin-left: 105px;
}

#team-one-creator-header {
  color: #b079fc;
  align-items: center;
}

#team-two-creator-header {
  color: #4fafa9;
}


.creator-header-break {
  max-width: 370px;
  margin-bottom: 15px;
}

body {
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #2f2f2f;
  color: #dcdcdc;
}

#team-one-container {
  margin-left: 1%;
  margin-top: 30px;
}

#team-two-container {
  margin-top: 30px;
  margin-right: 5%;
}

#team-one-court-slider-container {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

#team-two-court-slider-container {
  display: flex;
  align-items: center;
  margin-left: 35px;
}

.shot-quality-slider .rc-slider-track {
 background-color: rgba(72, 177, 243, 0.874);
}

#team-one-shot-zone-output {
  margin-left: 60px;
}

.record-shot-output {
  margin-left: 165px;
  font-size: 20px;
  margin-top: 10px;
}

.update-roster-button {
  height: 40px;
  cursor: pointer;
  border: 0px;
  border-radius: 5px;
  background-color: #b079fc;
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
}

.cancel-update-roster-button {
  height: 40px;
  cursor: pointer;
  border: 0px;
  border-radius: 5px;
  background-color: #4fafa9;
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
}

#update-roster-container {
  margin-top: 20px;
}

.update-roster-progress {
  width: 40%;
}