#clear-shot-button {
    width: 370px;
    height: 40px;
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
    background-color: #329c95;
    color: black;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 45px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  #record-shot-button {
    width: 370px;
    height: 40px;
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
    background-color: #329c95;
    color: black;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
  }
  
  #shot-checklist {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 0px;
  }
  
  #free-throw-input {
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    width: 250px;
    border: 1px solid #c6c6c6;
  }
  
  #shooter-header {
    margin-left: 185px;
    font-size: 25px;
    padding-bottom: 5px;
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
  }
  
  #creation-checklist {
    margin-left: 20px;
    padding-bottom: 2px;
  }
  
  #creator-header {
    margin-left: 185px;
    font-size: 25px;
    padding-bottom: 5px;
    font-weight: bold;
  }
  
  #creator-header-break {
    margin-left: 45px;
    max-width: 370px;
    margin-bottom: 15px;
  }
  
  body {
    font-family: 'Avantgarde', Gothic L, TeX Gyre Adventor, URW , sans-serif;
    background-color: rgb(36, 36, 36);
    color: #ffffff;
  }
  
  #team-one-container {
    margin-left: 100px;
    margin-top: 30px;
  }